button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
.bgImage{
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url('../../../assets/res/pokemonBackground.png');
}
.container{
  background: #fff;
  width: 60%;
  padding: 1rem;
}