<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h2 class="text-center">Register for PokémonCatalogue</h2>
            <br>
            <form [formGroup]="registerForm" class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="trainerName" class="sr-only">Trainer name:</label>
                    <input class="form-control" type="text" placeholder="Trainer name..." id="trainerName"
                        name="trainername" formControlName="trainername" required minlength="3">
                </div>
                <br>
                <button class="btn btn-primary mb-2" (click)="onRegisterClciked()" type="button"
                    [disabled]="isLoading || registerForm.invalid">Register new trainer...</button>
            </form>
            <div *ngIf="trainername.invalid && (trainername.dirty || trainername.touched)" class="text-danger">
                <p *ngIf="trainername.errors.required">Your trainer name is required</p>
                <p *ngIf="trainername.errors.minlength">Your trainer name must at least be 3 characters long</p>
                <p *ngIf="trainername.errors.maxlength">Your trainer name can't be more than 20 characters long</p>
            </div>

        </div>
    </div>
</div>
<div class="bgImage"></div>