body{
    background: linear-gradient(to right, #3931af, #00c6ff);
}
.trainerPage{
    padding: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.trainerImg img{
    width: 70%;
}
.mainTrainer h5{
    color: #333;
}
.mainTrainer h6{
    color: #0062cc;
}
.pokemonCount{
    font-size: 12px;
    color: #545454;
    margin-top: 5%;
}
.pokemonCount span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.pokemonSection label{
    font-weight: 600;
}
.pokemonSection p{
    font-weight: 600;
    color: #0062cc;
}
.tranierHeader{
    background-color: rgba(200,200,200,0.3);
    padding: 1rem;
    margin-bottom: 1rem;
}

.pokemonSection article{
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.pokemonSection article .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.noPokemons{
    font-weight: 600;
    color: red;
    font-size: 2rem;
}
.btn-group {
    margin-bottom: 1rem;
}