<main class="container trainerPage">
    <section class="row">
        <article class="col-md-4">
            <figure class="trainerImg">
                <img src="assets/res/Ash.png" alt="" />
            </figure>
            <app-pokemon-detail *ngIf="isShowingDetail" [pokemon]="pokemonToShow" (closeDetail)="closeDetail($event)">
            </app-pokemon-detail>
        </article>
        <article class="col-md-6">
            <main class="mainTrainer">
                <header class="tranierHeader">
                    <h5>
                        {{trainer.name}} Ketchum!
                    </h5>
                    <p class="pokemonCount">Pokemon Count : <span>{{trainer.pokemon.length}}</span></p>
                </header>

                <section class="col-md-10">
                    <div class="btn-group" *ngIf="trainer.pokemon.length > 0">
                        <button type="button" class="btn btn-info" disabled>Sort by:</button>
                        <button type="button" class="btn" [ngClass]="(prevSort=='id')?'btn-success':'btn-secondary'"
                            (click)="sortArray('id')"><i class="material-icons"
                                [hidden]="prevSort!='id'">{{sortDirection}}</i>Id
                        </button>
                        <button type="button" class="btn" [ngClass]="(prevSort=='name')?'btn-success':'btn-secondary'"
                            (click)="sortArray('name')"><i class="material-icons"
                                [hidden]="prevSort!='name'">{{sortDirection}}</i>Name</button>
                    </div>
                    <section class="pokemonSection" id="myTabContent">
                        <section class="row" *ngIf="trainer.pokemon.length > 0">

                            <article class="col-md-6" *ngFor="let cPokemon of pokemonList"
                                (click)="onPokemonClicked(cPokemon.id)">
                                <section class="card">
                                    <header class="card-header">
                                        <div class="row">
                                            <div class="col">
                                                <img class="card-img-top" src={{cPokemon.image}} alt="">
                                                <h5 class="card-title">{{cPokemon.name}}</h5>
                                            </div>
                                        </div>
                                    </header>
                                </section>
                            </article>


                        </section>
                        <section class="row" *ngIf="trainer.pokemon.length <= 0">
                            <article class="col noPokemons">
                                You haven't caught any pokémons yet! <a class="trainerLinkToCatalogue"
                                    routerLink="/catalogue">Go Catch `Em All!!</a>
                            </article>
                        </section>

                    </section>
                </section>

            </main>
        </article>
    </section>
</main>