<div *ngIf="isNotUndefined">
    <h3>Detailed pokemon view of: {{pokemon.name}}</h3>
    <article class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <img class="card-img-top" src={{pokemon.image}} alt="">
                    <h5 class="card-title">{{pokemon.name}}</h5>
                    <button type="button" class="btn btn-success card-link" *ngIf="pokemon.collected" disabled>Collected</button>
                    <button type="button" class="btn btn-info card-link" (click)="collectClicked()" *ngIf="!pokemon.collected">Collect</button>
                </div>
                <div class="col">
                    <button type="button" class="close" aria-label="Close" (click)="onCloseDetail($event)"><span
                            aria-hidden="true">&times;</span></button>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="card-body">
                <div class="card-header bg-info text-white">
                    Types
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of pokemon.types">{{item}}</li>
                </ul>
            </div>
            <div class="card-body">
                <div class="card-header bg-info text-white">
                    Base Stats
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of pokemon.base_stats">{{item.name}}:
                        {{item.base_stat}}</li>
                </ul>
            </div>
        </div>
        <div class="card-header">
            <h6>Profile</h6>
        </div>
        <div class="card-body">
            <div class="card-text">Weight: {{pokemon.weight}}</div>
            <div class="card-text">Height: {{pokemon.height}}</div>
            <div class="card-text">Base Experience: {{pokemon.base_experience}}</div>
            <div class="card-body">
                <div class="card-header bg-info text-white">
                    Abilities
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of pokemon.abilities">{{item}}</li>
                </ul>
            </div>
        </div>
        <div class="card-header">
            <h6>Moves</h6>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <div class="row">
                    <div class="col-6 col-md-4 mt-3" *ngFor="let item of pokemon.moves">
                        {{item}}
                        <br>
                    </div>
                </div>
            </ul>
        </div>
    </article>
</div>