<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" routerLink="/trainer">
        <img src="assets/res/pokemon-logo.asset.png" height="30" class="d-inline-block align-top" alt="" />
        Catalogue
    </a>
    <ul class="navbar-nav" *ngIf="isAuth">
        <li class="nav-item">
            <a class="nav-link" routerLink="/trainer">Trainer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/catalogue">Catalogue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="logoutClicked()">Logout</a>
        </li>
    </ul>
</nav>