<div class="container">
    <h1>Browse the Pokemon catalogue</h1>
    <br>
    <div class="row">
        <div class="col-sm-8" style="margin-bottom:1rem;">
            <div class="row">
                <div class="col-6 col-md-4" *ngFor="let pokemon of currentPokemons">
                    <article class="card">
                        <img class="card-img-top" src="{{pokemon.image}}" alt="Image of {{pokemon.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{pokemon.name}}</h5>
                            <button type="button" class="btn btn-info card-link"
                                (click)="pokemonClicked(pokemon.id)">See
                                details</button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <!--Detail component will load here-->
        <div class="col-sm-4" [hidden]="!isShowingDetail">
            <app-pokemon-detail [pokemon]="this.currentDetailPokemon" (closeDetail)="closeDetail($event)"
                (collectPokemon)="collectPokemon($event)"></app-pokemon-detail>
        </div>
    </div>
</div>

<button class="floating floatingButton buttonRight" (click)="nextBtnClicked()"
    [disabled]="nextUrl == '' || nextUrl == null || isLoading"><i class="fa fa-arrow-right float-icon"></i></button>
<button class="floating floatingButton buttonLeft" (click)="previousBtnClicked()"
    [disabled]="previousUrl == '' || previousUrl == null || isLoading"><i
        class="fa fa-arrow-left float-icon"></i></button>


<img src="../../../assets/res/loading.png" class="floating floatingTop loading" *ngIf="isLoading" />