.floating {
    position: fixed;
}
.floatingButton{
    background-color:#0C9;
    color:#FFF;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    width: 80px;
    height: 80px;
    border-radius: 99999px;
    font-size: 50px;
    border: none;
}

.buttonRight {
    bottom: 2rem;
    right: 3rem;
}
.floatingTop{
    top: 15rem;
    right: 50%;
}
.buttonLeft {
    bottom: 2rem;
    left: 3rem;
}

.float-icon{
    width: 50px;
    height: 50px;
}

.floatingButton:focus{
    outline: transparent;
}

.floatingButton:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #f3f3f3;
  }

.loading{
    color: red;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }